.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f2f5;
}

.login-container {
  display: flex;
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.login-form {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
}

.login-form-title {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
  font-size: 20px;
  font-weight: 700;
}

.form-group {
  margin-bottom: 10px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-weight: bold;
}

.form-input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  transition: border-color 0.3s;
}

.form-input:focus {
  border-color: #007bff;
  outline: none;
}

.form-checkbox {
  margin-right: 5px;
}

.message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.form-button {
  width: 30%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
  align-self: center;
}

.form-button:hover {
  background-color: #0056b3;
}

.form-actions {
  display: flex;
  width: 310px;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.switch-text {
  color: #333;
}

.switch-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
}

.switch-link:hover {
  color: #0056b3;
}

.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px dotted #f0f2f5;
  background-color: #fff;
}

.login-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}